@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

/* estilos generales */
:root {
  --color-uno: #ededf4;
  --color-dos: #a20021;
  --color-tres: #02020b;
  --color-cuatro: #f0efeb;
  --color-cinco: #333333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 16px;
  font-weight: 800;
  padding-top: 90px;
  background-color: var(--color-cuatro);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-dos);
  font-size: 3rem;
}

/* navbar */

.navbar {
  background-image: url(../images/sidebar-img.jpg);
  background-position: relative;
}

.navbar .nav-link {
  margin-left: 15px;
}

a.nav-link {
  color: var(--color-uno);
  text-decoration: none;
  transition: all 0.5s ease;
}

a.nav-link:hover {
  color: var(--color-dos);
}

.btn-cv {
  background-color: var(--color-dos);
  color: var(--color-uno);
  border: none;
  transition: 0.3s ease, transform 0.3s ease;
}

.btn .btn-cv:hover {
  background-color: var(--color-dos);
  transform: scale(1.05);
  color: var(--color-uno);
}

/* header */

#seccion-header {
  padding: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
}

.text-brand {
  color: var(--color-dos);
}

.img-profile {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 25px;
  padding: 20px;
}

.about-text {
  font-size: 1.4rem;
  word-wrap: break-word;
  line-height: 1.6;
  overflow-wrap: break-word;
  padding: 20px;
}

#seccion-header .container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

h1.display-1 {
  font-size: 2.5rem;
  line-height: 1.2;
  padding: 20px;
}

@media (min-width: 768px) {
  h1.display-1 {
    font-size: 3.5rem;
  }
}

/* acerca de mi */

#acerca-de-mi {
  padding: 20px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.acerca-title {
  margin-bottom: 60px;
  font-size: 3rem;
}

.acerca h3 {
  margin-bottom: 40px;
  font-size: 1.9rem;
  font-weight: 500;
}

.large {
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
}

/* portafolio */

.image-top img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--color-cinco);
}

.card-body {
  padding: 1rem;
  flex-grow: 1;
  color: var(--color-uno);
}

.card-title {
  color: var(--color-dos); 
}

.card .image-top {
  height: 200px;
  overflow: hidden;
}

.portafolio-title {
  margin-bottom: 60px;
  font-size: 3rem;
}

.card .image-top img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.btn {
  background-color: var(--color-dos);
  color: var(--color-uno);
  border: none;
  transition: 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: var(--color-dos);
  transform: scale(1.05);
  color: var(--color-uno);
}


/* redes sociales */

#redes-sociales .container {
  max-width: 800px; 
}

#redes-sociales .fa-brands {
  transition: transform 0.3s ease, color 0.3s ease;  
}


#redes-sociales a:hover .fa-github {
  color: #24292f;  
  transform: scale(1.1);  
}

#redes-sociales a:hover .fa-linkedin {
  color: #0e76a8;  
  transform: scale(1.1);
}

#redes-sociales .d-flex a {
  font-size: 3rem;  
}

#redes-sociales .d-flex a {
  text-decoration: none;  
}

#redes-sociales .d-flex a:focus {
  outline: none; 
}
