@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
    --color-uno: #ededf4; 
    --color-dos: #a20021; 
    --color-tres: #02020b; 
    --color-cuatro: #f52f57; 
    --color-cinco: #f3752b; 
    --color-seis: #f79d5c;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Bricolage Grotesque", serif;
    font-size: 16px;
}

.text-brand {
    color: var(--color-dos);
}

.img-profile {
    width: 100%; 
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .btn-cv {
    background-color: var(--color-dos); 
    color: var(--color-uno); 
    border: none; 
    transition: 0.3s ease, transform 0.3s ease;
  }
  
  .btn-cv:hover {
    transform: scale(1.05);
    background-color: var(--color-cuatro);
    color: var(--color-uno);
  }


/* acerca de mí */

#acerca-de-mi {
    padding: 60px 0; 
  }
  
  
  
  
#acerca-de-mi p {
    color: var(--color-tres); 
    line-height: 1.6; 
    margin-top: 20px; 
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto; 
}


  /* experiencia */
  
.card {
    border: 1px solid var(--color-dos); 
    border-radius: 10px; 
    padding: 15px; 
    background-color: var(--color-dos); 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
  }
  
 
  .card-body {
    padding: 20px; 
  }
  
 
  .card-body h3 {
    font-size: 1.5rem; 
    color: var(--color-uno); 
    font-weight: bold;
    margin-bottom: 10px; 
  }
  
  .card-body h4 {
    font-size: 1.2rem; 
    color: var(--color-uno); 
    margin-bottom: 15px; 
  }
  
  
  .card-body p {
    font-size: 1rem; 
    color: var(--color-uno); 
    line-height: 1.6;
    margin-bottom: 20px;   
}