@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
    --color-uno: #ededf4; 
    --color-dos: #a20021; 
    --color-tres: #02020b; 
    --color-cuatro: #f52f57; 
    --color-cinco: #f3752b; 
    --color-seis: #f79d5c;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Bricolage Grotesque", serif;
    font-size: 16px;
}

.text-brand {
    color: var(--color-dos);
}

.img-profile {
    width: 100%; 
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

